/* Overall */

body {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.66em;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) .container {
    width: 1100px;
}

@media (min-width: 1200px) .container {
    width: 1170px;
}

@media (min-width: 992px) .container {
    width: 970px;
}

@media (min-width: 768px) .container {
    width: 750px;
}
/* Navigation bar */

nav {
    display: block;
}


.site-header {
    background-color: #b2ad9c;
    min-height: 100px;
    display: block;
    background-size: cover;
}

.nav-bar {
    border-radius: 0;
    border-width: 0;
    margin-bottom: 0;
    padding: 0 25px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

ul {
    list-style: none;
}

.nav-bar-header {
    float: left;
    margin-left: 100px;
}

.logo-img img {
    margin-top: 10px;
}

.nav-select {
    text-align: center;
}

.nav-bar {
    display: inline-block;
    margin: 10px 0px 40px;
    margin-bottom: 0px;
    text-align: -webkit-match-parent;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
    text-align: center;
}

.nav-item {
    display: inline;
    padding-left: 90px;
}

nav ul li {
    font-size: 30px;
    text-shadow: 1px 1px #ccc;
    border-right: solid 45px transparent;
    box-shadow: 0 1px 0 -1px red;
}

.nav-link {
    text-decoration-line: none;
    color: #fff;
    text-transform: uppercase;
    border-top: 2px solid red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .nav-link:visited {
        color: #fff;
    }

/* Reservations */

.reservation-bgimage {
    background-image: url(images/bgimage6.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 1903px 803px;
}


.container {
    height: 803px;
    width: 1903px;
}

.container-text-title {
    text-align: center;
    padding-top: 50px;
    font-size: 62px;
    color: #fff;
    letter-spacing: .2em;
    line-height: 1.25em;
    font-family: inherit;
    text-shadow: 2px 2px #b2ad9c;
    text-transform: uppercase;
}

.form {
    text-align: left;
    font-size: 18px;
}

.row-first-reservation {
    padding-top: 90px;
    /*margin-right: -15px;
    margin-left: -15px; */
}

label {
    margin-bottom: 20px;
    padding-left: 15px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px #b2ad9c;
}

.row-first-reservation-pickup {
    float: left;
    padding-left: 600px;
}

.row-1st-res-pu-date {
    padding: 5px 15px;
    position: relative;
}

.res-pu-date {
    display: table-cell;
    border: 1px solid #DADEDE;
    border-radius: 3px;
    font-size: 20px;
    font-weight: lighter;
    height: 52px;
    padding: 6px 15px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 9%) inset;
    color: #848388;
    letter-spacing: .1em;
    width: 100%;
}

.row-1st-res-pu-time {
    padding: 5px 15px;
    position: relative;
}

.res-pu-time {
    padding: 5px 15px;
    position: relative;
    display: table-cell;
    border: 1px solid #DADEDE;
    border-radius: 3px;
    font-size: 20px;
    font-weight: lighter;
    height: 52px;
    padding: 6px 15px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 9%) inset;
    color: #848388;
    letter-spacing: .1em;
    width: 100%;
}

.row-1st-res-return {
    float: left;
    padding-left: 150px;
    padding-right: 520px;
}

.row-1st-res-return-date {
    padding: 5px 15px;
    position: relative;
}

.res-return-date {
    display: table-cell;
    border: 1px solid #DADEDE;
    border-radius: 3px;
    font-size: 20px;
    font-weight: lighter;
    height: 52px;
    padding: 6px 15px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 9%) inset;
    color: #848388;
    letter-spacing: .1em;
    width: 100%;
}


.row-1st-res-return-time {
    padding: 5px 15px;
    position: relative;
}

.res-return-time {
    display: table-cell;
    border: 1px solid #DADEDE;
    border-radius: 3px;
    font-size: 20px;
    font-weight: lighter;
    height: 52px;
    padding: 6px 15px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 9%) inset;
    color: #848388;
    letter-spacing: .1em;
    width: 100%;
}

.row-2nd-car {
    float: left;
    padding-left: 100px;
}

.row-2nd-res {
    padding: 5px 15px;
    position: relative;
    padding-top: 30px;
}

.res-car-label {
    margin-bottom: -15px;
}

#res-car {
    display: table-cell;
    border: 1px solid #DADEDE;
    border-radius: 3px;
    font-size: 20px;
    font-weight: lighter;
    height: 52px;
    padding: 6px 15px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 9%) inset;
    color: #848388;
    letter-spacing: .1em;
    width: 100%;
}

.row-2nd-user {
    float: left;
    padding-right: 50px;
    padding-left: 50px;
}

.res-user {
    display: table-cell;
    border: 1px solid #DADEDE;
    border-radius: 3px;
    font-size: 20px;
    font-weight: lighter;
    height: 52px;
    padding: 6px 15px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 9%) inset;
    color: #848388;
    letter-spacing: .1em;
    width: 100%;
}

.row-2nd-tel {
    float: left;
    padding-right: 100px;
}

.res-tel {
    display: table-cell;
    border: 1px solid #DADEDE;
    border-radius: 3px;
    font-size: 20px;
    font-weight: lighter;
    height: 52px;
    padding: 6px 15px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 9%) inset;
    color: #848388;
    letter-spacing: .1em;
    width: 100%;
}

.row-3d-res {
    padding: 5px 15px;
    position: relative;
    padding-top: 30px;
    float: left;
}

.row-3d-pu-loc {
    float: left;
    padding-left: 250px;
    padding-right: 100px;
}

#res-pu-loc {
    display: table-cell;
    border: 1px solid #DADEDE;
    border-radius: 3px;
    font-size: 20px;
    font-weight: lighter;
    height: 52px;
    padding: 6px 15px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 9%) inset;
    color: #848388;
    letter-spacing: .1em;
    width: 100%;
}

.row-3d-return-loc {
    float: left;
    padding-right: 200px;
}

#res-return-loc {
    display: table-cell;
    border: 1px solid #DADEDE;
    border-radius: 3px;
    font-size: 20px;
    font-weight: lighter;
    height: 52px;
    padding: 6px 15px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 9%) inset;
    color: #848388;
    letter-spacing: .1em;
    width: 100%;
}

.res-submit-button {
    text-align: center;
}

.res-button {
    height: 58px;
    margin-top: 40px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    height: 48px;
    line-height: 48px;
    background-color: #b2ad9c;
    border: 1px solid #b2ad9c;
    color: #fff;
    letter-spacing: 0;
    padding: 0 30px;
    display: inline-block;
    font-family: inherit;
    text-shadow: 2px 2px #b2ad9c;
}

.team-will-contact {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    text-shadow: 2px 2px #b2ad9c;
}

/* Best Offers Tab */

.best-offers {
    padding-top: 80px;
    padding-bottom: 80px;
    border-top-width: 1px;
    border-top-style: none;
    border-top-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: #ffffff;
    opacity: 1;
}

.bst-of-title {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.65em;
    text-align: center
}

.bst-of-ttl-h2 {
    color: #1c1b21;
    letter-spacing: .2em;
    font-size: 48px;
    margin: 40 0 50px;
    font-weight: 700;
    word-wrap: break-word;
}

.bst-of-1st {
    width: 33.33333333%;
    float: left;
}

.bst-of-1st-img {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.bst-of-1st-text {
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 15px 0 10px;
}

.bst-of-2nd {
    width: 33.33333333%;
    float: left;
}

.bst-of-2nd-img {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.best-of-2nd-text {
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 15px 0 10px;
}


.bst-of-3d {
    width: 33.33333333%;
    float: left;
}

.bst-of-3d-img {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.bst-of-3d-text {
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 15px 0 10px;
}

.bst-of-1st, .bst-of-2nd {
    margin-top: 50px;
    margin-bottom: 70px;
}

.bst-of-3d {
    margin-top: 50px;
    margin-bottom: 100px;
}

/* ABOUT US */

#aboutus-container {
    padding-top: 400px;
    padding-left: 50px;
}

#au-bg-img {
    background-image: url(images/about-us.jpg);
    width: 1800px;
    height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#au-title-text {
    float: left;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 350px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 2em;
    color: #fff;
    font-family: inherit;
    letter-spacing: .2em;
    font-weight: 700;
}

@media (min-width: 992px) #au-title-text {
    width: 41.66666667%;
}

@media (min-width: 992px) #au-title-text {
    float: left;
}

@media (min-width: 992px) #au-moto {
    width: 58.33333333%;
    float: left;
}

#au-moto {
    margin-bottom: 20px;
    padding-top: 300px;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.4;
    color: #fff;
    word-spacing: .2em;
    font-weight: 700;
}


#au-desc {
    padding: 45px 0 30px;
    text-align: center;
    width: 520px;
    height: 320px;
    float: right;
    margin-right: 400px;
    color: #fff;
    word-spacing: .1em;
    font-weight: 700;
}

/* CONTACT US */

.site-footer {
    background-color: #b2ad9c;
    display: block;
}

.footer-contact-info {
    padding-top: 15px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.footer-tel {
    color: #fff;
    text-align: center;
    padding-top: 45px;
    font-size: 30px;
    font-family: inherit;
    margin-right:
}

.footer-icon-tel, .footer-icon-mail {
    font-size: 34px;
    justify-content: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.footer-tel-num, .footer-mail-l {
    font-weight: 700;
}

    .footer-tel-num a, .footer-mail-l a {
        color: #fff;
    }

        .footer-tel-num a:visited, .footer-mail-l a:visited {
            color: #fff;
        }

.footer-mail {
    color: #fff;
    text-align: center;
    padding-top: 45px;
    font-size: 30px;
    font-family: inherit;
    padding-left: 200px;
}

.footer-copyright {
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
}
