@using CarRental.ViewModels.Home
@using CarRental.Data.Models
@model IndexViewModel


@{
    ViewData["Title"] = "Home Page";
}


@*Reservation Home Page*@
<div class="reservation-bgimage">
    <div class="container">

        <div class="container-text-title">
            <h1>Rent a car!</h1>
        </div>


        <div class="container">
            <div class="form">
                <form id="reservation-form" method="post" asp-controller="Home" asp-action="Index" class="w-50">


                    <div class="row-first-reservation">
                        <div class="row-first-reservation-pickup">
                            <label asp-for="PickUpDate">
                                <span class="reserv-pickup-label">Pick-up Date/Time</span>
                            </label>
                            <div class="row-1st-res-pu-date">
                                <input class="res-pu-date" type="date" asp-for="PickUpDate" />
                            </div>
                            @*<span asp-validation-for="PickUpDate"></span>*@

                            <div class="row-1st-res-pu-time">
                                <input class="res-pu-time" type="time" asp-for="PickUpDate" />
                            </div>
                            @*<span asp-validation-for="PickUpTime"></span>*@
                        </div>


                        <div class="row-1st-res-return">
                            <label asp-for="ReturnDate">
                                <span class="res-return-label">Return Date/Time</span>
                            </label>

                            <div class="row-1st-res-return-date">
                                <input class="res-return-date" type="date" asp-for="ReturnDate" />
                            </div>
                            @*<span asp-validation-for="ReturnDate"></span>*@

                            <div class="row-1st-res-return-time">
                                <input class="res-return-time" type="time" asp-for="ReturnDate" />
                            </div>
                            @*<span asp-validation-for="ReturnTime"></span>*@
                        </div>
                    </div>




                    <br><br><br><br><br>
                    <div class="row-2nd-res">
                        <div class="row-2nd-car">
                            <label asp-for="Car">
                                <span class="res-car-label">Vehicle</span><br>
                            </label>

                            <select id="res-car" asp-for="Car" asp-items="@(Model.CarItems)">
                                <option value="" disabled selected>Enter the vehicle you want to rent here...</option>
                            </select>
                            <span asp-validation-for="Car"></span>
                        </div>


                        <div class="row-2nd-user">
                            <label asp-for="UserName">
                                <span class="res-user-label">Username</span>
                            </label>
                            <input class="res-user" asp-for="UserName" placeholder="Enter your desired username" />
                            <span asp-validation-for="UserName"></span>
                        </div>


                        @*<div class="row-2nd-user">
                                <label>
                                    <span class="res-user-label">Username</span>
                                </label>
                                <input class="res-user" type="text" placeholder="Enter your desired username" required>
                            </div>*@




                        <div class="row-2nd-tel">
                            <label asp-for="TelephoneNumber">
                                <span class="res-tel-lable">Telephone number</span>
                            </label>
                            <input class="res-tel" asp-for="TelephoneNumber" type="tel" value="+359" />
                            <span asp-validation-for="TelephoneNumber"></span>
                        </div>
                    </div>



                    <div class="row-3d-res">
                        <div class="row-3d-pu-loc">
                            <label asp-for="PickUpLocation">
                                <span class="res-pu-loc-lable">Pick-up location</span>
                            </label>

                            <select id="res-pu-loc" asp-for="PickUpLocation" class="form-control" asp-items="@Model.LocationItems">
                                <option value="" disabled selected>-- Choose a location --</option>
                            </select>
                            <span asp-validation-for="PickUpLocation"></span>
                        </div>

                        <div class="row-3d-return-loc">
                            <label asp-for="ReturnLocation">
                                <span class="res-return-loc-lable">Return location</span>
                            </label>
                            <select id="res-return-loc" asp-for="ReturnLocation" class="form-control" asp-items="@(Model.LocationItems)">
                                <option value="" disabled selected>-- Choose a location --</option>
                            </select>
                            <span asp-validation-for="ReturnLocation"></span>
                        </div>
                    </div>


                    <div class="res-submit-button">
                        <button type="submit" class="res-button">
                            <span class="wc-editable wc-disable-inline-edit" data-pk="ws_btn_make_reservation" data-type="action">Make reservation</span>
                        </button>
                    </div>
                </form>
            </div>

            <div class="team-will-contact">
                <p>Our team will be in contact with you after you make your reservation as soon as possible!</p>
            </div>

        </div>
    </div>
</div>
@*Reservation Home Page End
    Best Offers Section*@
<div class="best-offers">
    <div class="best-offers-content">
        <div class="bst-of-title">
            <h2 class="bst-of-ttl-h2">BEST OFFERS</h2>
        </div>
        <div class="row">
            <div class="bst-of-1st">
                <div class="bst-of-1st-img">
                    <img src="images/best-offers-audia4-2010.jpg">
                </div>
                <div class="bst-of-1st-text">
                    <h3 class="bst-of-1st-t-h3">Audi A4 2010 - <em> ONLY 30$/day</em></h3>
                </div>
            </div>
            <div class="bst-of-2nd">
                <div class="bst-of-2nd-img">
                    <img src="images/best-offers-mercedes-s350d-2017.jpg" height="300px">
                </div>
                <div class="best-of-2nd-text">
                    <h3 class="bst-of-2nd-t-h3">Mercedes-Benz S 350d 2017 - <em> ONLY 130$/day</em></h3>
                </div>
            </div>
            <div class="bst-of-3d">
                <div class="bst-of-3d-img">
                    <img src="images/best-offers-honda-crv-2018.webp" height="300px">
                </div>
                <div class="bst-of-3d-text">
                    <h3 class="bst-of-3d-t-h3">Honda CR-V 2018 - <em>ONLY 70$/day</em></h3>
                </div>
            </div>
        </div>
    </div>
</div>
@*BEST OFFERS END
    ABOUT US*@
<a id="hyperlink-au"></a>
<div id="aboutus-container">
    <div id="au-bg-img">
        <div id="au-title-text">
            <h2 id="au-title">About our company</h2>
        </div>
        <div id="au-moto">
            <h3 id="au-moto-text">This is our moto!</h3>
        </div>
        <div id="au-desc">
            <span id="au-desc-text">The description of our company.</span> <br><br>
        </div>
    </div>
</div>
@*ABOUT US END*@ 