<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta charset="utf-8" />*@

    <title>@ViewData["Title"] - CarRental</title>
    <!-- Normalize.css -->
    <link rel="stylesheet" type="text/css" href="normalize.css">

    <link rel="stylesheet" href="~/style.css">

    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body id="body">

    <!-- Header -->
    <header class="site-header">
        <nav id="nav-bar">
            <div class="nav-bar-header">
                <h2 class="page-Title">Car <em>Rental</em></h2>
            </div>

            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

            </button> -->
            <div class="nav-select">
                <ul class="nav-bar">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html"> Home </a>
                    </li>
                    <!--<li class = "nav-item">
                        <a class="nav-link" href="fleet.html"> Fleet </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#hyperlink-res"> Reservation </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hyperlink-au">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hyperlink-cu">Contact Us</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- Header End -->


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <!-- FOOTER -->
    <a id="hyperlink-cu"></a>
    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-contact-info">
                <div class="footer-tel">
                    <div class="footer-icon-tel">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="footer-tel-cont">Call us now</div>
                    <div class="footer-tel-num">
                        <a href="tel:1234567890">
                            <span class="footer-tel-text">1234567890</span>
                        </a>
                    </div>
                </div>
                <div class="footer-mail">
                    <div class="footer-icon-tel">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="footer-mail-cont">Or send us a message</div>
                    <div class="footer-mail-l">
                        <a href="mailto:contact@rentacar.com">
                            contact@rentacar.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="footer-cop-text">
                    <p>&copy;2021 CAR RENTAL COMPANY || ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
