<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"] - CarRental</title>

    <!-- Normalize.css -->
    <link rel="stylesheet" type="text/css" href="normalize.css">

    <link rel="stylesheet" type="text/css" href="style.css">

    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>


<body id="body">

    <!-- Header -->
    <header class="site-header">
        <nav id="nav-bar">
            <div class="nav-bar-header">
                <!-- <h2 class = "page-Title">Car <em>Rental</em></h2> -->
                <div class="logo-img">
                    <img src="images/Untitled-1.jpg">
                </div>
            </div>

            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

            </button> -->
            <div class="nav-select">
                <ul class="nav-bar">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html"> Home </a>
                    </li>
                    <!--<li class = "nav-item">
                        <a class="nav-link" href="fleet.html"> Fleet </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#hyperlink-res"> Reservation </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hyperlink-au">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hyperlink-cu">Contact Us</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- Header End -->




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Reservation Home Page End -->
    <!-- Best Offers Section -->
    <div class="best-offers">
        <div class="best-offers-content">
            <div class="bst-of-title">
                <h2 class="bst-of-ttl-h2">BEST OFFERS</h2>
            </div>
            <div class="row">
                <div class="bst-of-1st">
                    <div class="bst-of-1st-img">
                        <img src="images/best-offers-audia4-2010.jpg" width="450px" height="280px">
                    </div>
                    <div class="bst-of-1st-text">
                        <h3 class="bst-of-1st-t-h3">Audi A4 2010 - <em> ONLY 30$/day</em></h3>
                    </div>
                </div>
                <div class="bst-of-2nd">
                    <div class="bst-of-2nd-img">
                        <img src="images/best-offers-mercedes-s350d-2017.jpg" width="450px" height="280px">
                    </div>
                    <div class="best-of-2nd-text">
                        <h3 class="bst-of-2nd-t-h3">Mercedes-Benz S 350d 2017 - <em> ONLY 130$/day</em></h3>
                    </div>
                </div>
                <div class="bst-of-3d">
                    <div class="bst-of-3d-img">
                        <img src="images/best-offers-honda-crv-2018.webp" width="450px" height="280px">
                    </div>
                    <div class="bst-of-3d-text">
                        <h3 class="bst-of-3d-t-h3">Honda CR-V 2018 - <em>ONLY 70$/day</em></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BEST OFFERS END -->
    <!-- ABOUT US -->
    <a id="hyperlink-au"></a>
    <div id="aboutus-container">
        <div id="au-bg-img">
            <div id="au-title-text">
                <h2 id="au-title">About our<br> company</h2>
            </div>
            <div id="au-moto">
                <h3 id="au-moto-text">"WE GIVE YOU DRIVE!"</h3>
            </div>
            <div id="au-desc">
                <span id="au-desc-text">Our company was funded in 2010, when it was a small family bussiness, nowadays becoming a big international company. You can rent thousands of cars from us. We have a certification of trust and quality from the MEA, FFP, CoPort OG, ABC and many more. Currently the #1 car rental company in the USA, expecting to cover every country in the next 20 years with multi-billion dollar net-worth.</span> <br><br>
            </div>
        </div>
    </div>
    <!-- ABOUT US END -->
    <!-- FOOTER -->
    <a id="hyperlink-cu"></a>
    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-contact-info">
                <div class="footer-tel">
                    <div class="footer-icon-tel">
                        <img src="images/favicon.ico">
                        <i class="fa fa-phone">

                        </i>
                    </div>
                    <div class="footer-tel-cont">Call us now</div>
                    <div class="footer-tel-num">
                        <a href="tel:1234567890">
                            <span class="footer-tel-text">1234567890</span>
                        </a>
                    </div>
                </div>
                <div class="footer-mail">
                    <div class="footer-icon-mail">
                        <img src="images/favicon%20(5).ico">
                        <i class="fa fa-envelope">

                        </i>
                    </div>
                    <div class="footer-mail-cont">Or send us a message</div>
                    <div class="footer-mail-l">
                        <a href="mailto:contact@rentacar.com">
                            contact@rentacar.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="footer-cop-text">
                    <p>&copy;2021 CAR RENTAL COMPANY || ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
